body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #caf5f583;
  }
  
  .container {
    max-width: 600px;
    margin: 100px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #200101;
  }
  
  button {
    background-color: #350650;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #location {
    font-size: 18px;
    margin-top: 20px;
  }
  